html
   head
      style
      script(src='a.js')
      link(rel="stylesheet",href="a.css")
   body
      div
         ul
           li
             input(type="text", id="txt1", value="abc")
           li
             input(type="text", id="txt2", value="111")
           li
             input(type="text", id="txt3", value="222")
      div