html
  head
    style
  body
    div(style="width:200px;height:200px;background:red")
    div(style={width:'200px',height:'200px',background:'red'})
    div(title={width:'200px',height:'200px',background:'red'})