html
  head
    script
      |window.onload=function(){
      |  var oBtn=document.getElementById('btn1');
      |  oBtn.onclick=function(){
      |     alert('aaa');
      |  };
      |};
  body
    |abc
    |ddd
    |213
